.whatblack__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.whatblack__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-center;
  flex-direction: column;

  text-align: left;
  margin-right: 5rem;
}

.whatblack__features-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}

.whatblack__features-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #ff8a71;
  margin-top: 2rem;
}

.whatblack__features-container {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 990px) {
  .whatblack__features {
    flex-direction: column;
  }

  .whatblack__features-heading {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  .whatblack__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
